[Unit]
Description=Discourse containers
Requires=docker.service
After=docker.service reverse_proxy.service
# 'Wants' does not restart current service when named service restarts
Wants=reverse_proxy.service
# Pick up new docker network from proxy
ReloadPropagatedFrom=reverse_proxy.service

[Service]
Restart=always
# Affects Reload operation. Discourse takes a while to start up.
# e.g. 'Precompiling assets, this may take sometime...' took 6min after an update
TimeoutStartSec="12min"
WorkingDirectory=/opt/locohome/discourse

# Reload: New network from proxy needed
ExecReload=/usr/bin/docker compose --file docker-compose.yaml --file docker-compose.{{ environment }}.yaml down
ExecReload=/usr/bin/docker compose --file docker-compose.yaml --file docker-compose.{{ environment }}.yaml up

ExecStartPre=/usr/bin/docker compose --file docker-compose.yaml --file docker-compose.{{ environment }}.yaml stop
ExecStart=/usr/bin/docker compose --file docker-compose.yaml --file docker-compose.{{ environment }}.yaml up

ExecStop=/usr/bin/docker compose --file docker-compose.yaml --file docker-compose.{{ environment }}.yaml stop

[Install]
WantedBy=multi-user.target
