[Unit]
Description=Discourse update
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/locohome/discourse
ExecStart=/usr/bin/docker compose --file docker-compose.yaml --file docker-compose.{{ environment }}.yaml pull
# "reload" allows not having to restart the reverse proxy by keeping the same docker network on
ExecStopPost=/usr/bin/systemctl reload discourse

[Install]
WantedBy=multi-user.target