[Unit]
Description=Reverse proxy container
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/opt/locohome/reverse_proxy

{% if environment == 'dev' %}
    {% set compose_cmd = '/usr/bin/docker compose --file docker-compose.yaml --file docker-compose.dev.yaml' %}
{% else %}
    {% set compose_cmd = '/usr/bin/docker compose' %}
{% endif %}
ExecReload={{ compose_cmd }} down
ExecReload={{ compose_cmd }} up

ExecStartPre={{ compose_cmd }} stop
ExecStart={{ compose_cmd }} up

ExecStop={{ compose_cmd }} stop

[Install]
WantedBy=multi-user.target